body
{
    margin: 0 auto;
    width: 1920px;
}

.color-pink
{
    color: #EE58B6;    
}

.header
{
    margin: 30px 120px 43px 120px;
    height: 55px
}

.header__text-dont
{
    color: #000000;

    margin: 9px 32px 0 0;

    font: normal 700 30.8354px 'Montserrat';
    float: left;
    line-height: 122.33%;
    letter-spacing: -0.045em;
}

.header__links
{
    margin: 19px 0 17px 667px;
    float: left
}

.header__links-text
{
    margin: 42px 83px 0 0;

    font: normal 500 16px 'Montserrat';
    line-height: 20px;
}

.header__button
{
    background: #05090C;

    margin: 0;

    border-radius: 10px;
    width: 247px;
    height: 55px;
    float: right;
}

.button__text
{
    color: #FFFFFF;

    font: normal 600 16px 'Montserrat';

    line-height: 16px;
    text-align: center;
}

.main-frame
{
    margin: 0 auto;
    height: 732px;
}

.main-frame__header
{
    margin: 180px 30px 5px 178px;
    float: left;
}

.main-frame__title
{
    color: #000000;

    font: normal 600 100px 'Montserrat';
    line-height: 122.35%;
}

.main-frame__subtitle
{
    margin: 21px 0 46px;

    width: 545px;
    height: 62px;
}

.subtitle__text
{
    color: rgba(0, 0, 0, 0.7);

    margin: 0 auto;

    font: normal 400 26px 'Roboto Condensed';
    line-height: 120%;
}

.main-frame__button
{
    background: #05090C; 

    margin: 0 auto;

    border-radius: 10px;
    width: 332px;
    height: 55px;
}

.main-frame__image
{
    margin: 30px 205px 0 0;

    float: right;
    width: 763px;
    height: 638px;
}

/**/
.description
{
    background: #000000;

    display: flex;
    justify-content: space-between;
    height: 398px;
    padding: 0 391px;
}

.description__time
{
    margin-top: 111px;

    width: 340px;
    height: 145px;
    float: left;
    text-align: center;
}

.description__notebook
{
    margin-top: 111px;

    width: 340px;
    height: 145px;
    float: left;
    text-align: center;
}

.description__target
{
    margin-top: 111px;

    width: 340px;
    height: 132px;
    float: right;
    text-align: center;
}

.description__time-img
{
    margin: 5px 0 22px 0;
}

.description__notebook-img
{
    margin: 5px 0 19px 0;
}

.description__target-img
{
    margin: 4px 0 20px 0;
}

.plate__text
{
    color: #FFFFFF;

    font: normal 400 22px 'Roboto Condensed';
    text-align: center;
    line-height: 120%;
}

.description__plate
{
    margin: 0 auto;
    width: 100%;
}

.reasons
{
    margin: 0 auto;
    padding-left: 358px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.reasons__finances
{
    margin: 72px 391px 0 0;

    display: flex;
    justify-content: space-between;
    height: 520px;
}
.reasons__mind
{
    margin-right: 392px;

    display: flex;
    justify-content: space-between;
}
.reasons__finances-img
{
    margin-left: 7px;

    width: 538px;
    height: 476px;
}
.reasons__mind-img
{
    margin: 34px 102px 0 0;

    width: 378px;
    height: 622px;
}

.reasons__finances-main
{
    margin: 225px 0 0 11px;

    float: right;
    width: 574px;
    height: 250px;
}

.reasons__mind-main
{
    margin: 284px 0 0 34px;

    float: left;
    width: 574px;
}

.reasons__header
{
    margin-top: 224px;

    font: normal 500 48px 'Montserrat';
    float: none;
    line-height: 126.06%;
}

.reasons__title
{
    margin-top: 28px;
}

.title__text
{
    color: rgba(0, 0, 0, 0.7);

    font:  normal 400 18px 'Roboto Condensed';
    line-height: 24px;
}

.opportunities
{
    margin: 0 auto;
    height: 951px;
}

.opportunities__header
{
    margin: 0 auto;
    padding: 134px 0 0 684px
}

.opportunities__header-text
{
    color: #000000;

    font: normal 500 48px 'Montserrat';
    line-height: 59px;
}

.opportunities__table
{
    margin: 0 auto;
    padding: 60px 395px 60px 395px;

    height: 440px;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.ticket
{
    width: 358px;
    height: 190px;
    
    border-radius: 7.35723px;
    background: #000000;
}

.ticket__image
{
    margin: 31px 281px 18px 40px
}

.ticket__card
{
    margin: 0 30px 0 40px;
}

.card__text
{
    color: #FFFFFF;

    font: normal 400 18px 'Roboto Condensed';
    line-height: 21px;
}

.footer
{
    background: #000000;

    width: 100%;
    height: 108px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__text
{
    margin: 0 auto
}

.footer__text-text
{    
    color: #FFFFFF;
    font: normal 700 30px 'Montserrat';
}