@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

body
{
    margin: 0 auto;
    width: 1920px;
}

.request
{
    display: flex;
    margin: 52px 0 0 59px;  
}

.request__window
{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 22px 27px 22px 28px;
    
    width: 480px;
    height: 64px;
    
    background: #FFFFFF;
    border: 1px solid #C0C0C0;
    border-radius: 4px;
}

.request__button
{
    font: 500 18px 'Montserrat';
    color: #FFFFFF;
    margin-left: 53px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 480px;
    background: #000000;
    border-radius: 5px;
    height: 64px;
}

.request__text
{
    font: 500 18px 'Montserrat';
    color: #FFFFFF;
}

.window__email
{
    font: 500 18px 'Montserrat';
    color: #999999;
}